body {
    position: relative;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

#goals-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .goal {
        height: 250px;
        width: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        div {
            height: 150px;
            width: 230px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            h2 {
                text-align: center;
                margin: 0;
            }
    
            svg {
                fill: #fff;
                height: 40%;
            }
        }
    }
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        width: 80%;
        margin: auto;
    }
}